<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Code<span style="color: #de2341;">Tron</span>  < / >
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid fixed id="container">
    <ion-row>
      <ion-col size="12">
        <div id="main">
          <img [src]="photoURL" *ngIf="photoURL" />
          <input type="file" accept="image/*" id="imgInput" hidden (change)="imagePreview($event)" />

          <ion-icon name="trash-bin" (click)="onDeleteImg()" *ngIf="photoURL"></ion-icon>
        </div>
      </ion-col>
      
      <ion-col size="12" style="margin-top: 10px;">
        <ion-button id="open-modal" color="danger" shape="round">
          Upload Photo
        </ion-button>

      </ion-col>
    </ion-row>



    <div>

      <ion-modal
        trigger="open-modal"
        [initialBreakpoint]="0.25"
        [breakpoints]="[0, 0.25]"
        handleBehavior="cycle"
        [showBackdrop]="true"

        #modal 
      >
        <ng-template>
          <ion-content class="ion-padding">
            <div class="ion-margin-top">

              <ion-grid>
                <ion-row>
                  <ion-col size="6" class="ion-text-center">
                    <span (click)="onclickUploadImg(); modal.dismiss()">
                      <ion-icon name="image" class="gallery"></ion-icon>
                      <p>Upload from Gallery</p>
                    </span>
                  </ion-col>

                  <ion-col size="6" class="ion-text-center">
                    <span (click)="openCamera(); modal.dismiss()">
                      <ion-icon name="camera" class="camera"></ion-icon>
                      <p>Open Camera</p>
                    </span>
                  </ion-col>

                </ion-row>
              </ion-grid>
            </div>
          </ion-content>
        </ng-template>
      </ion-modal>

    </div>

  </ion-grid>

</ion-content>
